# Supabase 
SUPABASE_URL=https://xxxxx.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_...
SUPABASE_SECRET_KEY=sb_secret_...

# Database direct connection (для миграций)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.luodimqconzfqeapyybc.supabase.co:5432/postgres

DB_HOST=aws-0-eu-central-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.xxxxx
DB_PASSWORD=твой_пароль